.dgl-Navigation ul {
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.dgl-Navigation:not(.is-condensed) ul {
    display: flex;
    gap: 1rem;
}

.dgl-Navigation:not(.is-condensed) ul li a {
    text-decoration: none;
}

.dgl-NavigationLink-card {
    width: 18rem;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0 4px 12px;
    }
}
